:root{
    --span : #464209;
}

.wrapper{
    width: 100vw;
    height: 100vh;

    transition: opacity 2s;
    opacity: 0;

    overflow-x: hidden;
    overflow-y: hidden;

    z-index: 0;

    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.01vmin;

    perspective: 10px;

    -webkit-user-select: none;
}

.contentContainer{
    position: absolute;
    top: 42%;
    left: 55%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;

    width: 90%;
    height: 100vh;

    font-weight: 300;
}

.contentContainer p{
    margin: 0px;
}

.iam{
    position: absolute;
    top: 20%;
    left: 0%;

    margin-bottom: 20px;

    font-size: 9vmin;
    font-weight: 500;

    cursor: pointer;

    transition: all 1s;
}

.frontEnd{
    position: absolute;
    top: 40%;
    left: 3%;

    font-size: 7vmin;

    cursor: pointer;

    transition: all 1s;
}

.frontEnd:hover{
    position: absolute;
    top: 42%;
    left: 6%;

    font-size: 7vmin;

    cursor: pointer;

    transform: translateZ(0.3px);
    transition: all 1s;
}

.awaker{
    position: absolute;
    top: 50%;
    right: 15%;

    width: max-content;
    margin: 0px;

    font-size: 7vmin;

    cursor: pointer;

    transition: all 1s;
}

.awaker:hover{
    position: absolute;
    top: 48%;
    right: 17%;


    font-size: 7vmin;

    cursor: pointer;

    transform: translateZ(0.3px);
    transition: all 1s;
}


.hanyang{
    position: absolute;
    top: 60%;
    left: 0%;

    font-size: 7vmin;

    cursor: pointer;

    transition: all 1s;
}

.hanyang:hover{
    position: absolute;
    top: 60%;
    left: 3%;

    font-size: 7vmin;

    cursor: pointer;

    transform: translateZ(0.5px);
    transition: all 1s;
}

.member{
    position: absolute;
    top: 70%;
    right: 10%;

    font-size: 7vmin;

    cursor: pointer;

    transition: all 1s;
}

.member:hover{
    position: absolute;
    top: 70%;
    right: 14%;

    font-size: 7vmin;

    cursor: pointer;

    transform: translateZ(0.5px);
    transition: all 1s;
}

.wrapper span{
    color: var(--span);
    opacity: 0.8;
    font-weight: 400;
}